# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flutter/Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.pub-cache/
frontend/.pub/
frontend/ios/Pods/
frontend/android/.gradle
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release

# Docker
.docker/

# Database
*.sqlite3
*.db

# MinIO
minio_data/

# Logs
*.log
logs/
